html, body 
{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body 
{
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
}

header
{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
    z-index: 2;
}

header button
{
    background-color: #303134;
    border-color: transparent;
    border-radius: 35%;
    cursor: pointer;
}

.lightMode
{
    height: 40px;
    width: 40px;
}

.lightMode:hover
{
    transform: scale(1.1);
}
.user
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.user img
{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}

.user img:hover
{
    transform: scale(1.05);
}

.principal 
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 35vw;
    z-index: 2;
}

.input-container 
{
    position: relative;
    width: 35vw; 
}

input 
{
    color: #e8e8e8;
    font-weight: lighter;
    font-size: 3.5vh;
    height: 8vh;
    width: 100%;
    background: #303134;
    border-radius: 24px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 40px; 
}

input:focus 
{
    outline: none;
}

.search-icon 
{

    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); 
    background: transparent;
    border: none;
    color: #e8e8e8;
    cursor: pointer;
    font-size: 1.5rem;
}

.sites
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5vh;
    justify-content: center;
    gap: 1vw;
    z-index: 0;
}

.sites a
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #303134;
    height: 11vh;
    width: 4.8vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: #e8e8e8;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1vh;
}

.sites a:hover
{
    transform: scale(1.05);
    text-decoration: underline;
}

.sites a p
{
    margin: 0;
}
.logo
{
    width: 50px; 
    height: 50px; 
}

footer
{
    position: absolute;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 16%;
    height: auto;
    left: 1%;
    bottom: 2%;
    align-items: center;
    gap: 1vw;
    z-index: 2;
}

footer button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color:#303134;
    border-color: transparent;
    margin: 0%;
    padding: 0%;
    cursor: pointer;
}

footer img
{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border-color: #303134;
    object-fit: cover;
}

footer img:hover
{
    transform: scale(1.05);
}

#pedroPrincipal
{
    position: absolute;
    bottom: 0%;
    flex-direction: column-reverse;
    height: 15vh;
}

#pedroSites
{
    position: fixed;
    top: 0%;
    width: 70%;
}

#cauaPrincipal 
{
    position: absolute;
    top: 20%;
}

#cauaLink
{
    border-radius: 100%;
    height: 5vw;
    max-height: 5vw;
}

#cauaLinkName
{
    position: absolute;
    color: transparent;
}

#iunahPrincipal
{
    position: absolute;
    bottom: 10%;
}

#dorgivalPrincipal
{
    position: absolute;
    top: -5%;
}

#dorgivalSites
{
    position: fixed;
    bottom: 11%;
}

@media only screen and (max-width: 768px)
{
    .principal
    {
        height: 10vh;
        width: 90%;
    }

    .input-container
    {
        width: 100%;
    }

    .sites
    {
        height: 100%;
        width: 100%;
    }

    .sites a
    {
        width: 18%;
        max-width: 18%;
    }
}
