html, body 
{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body 
{
    background-image: url('images/wallpaper.jpg');
    background-size: cover; /* A imagem vai cobrir toda a tela */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

header
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1%;
    top: 1%;
    height: 110px;
    width: 110px;
    background-color: #303134;
    border-radius: 50%;
    overflow: hidden;
}

header img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.principal 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 35vw;
}

.input-container {
    position: relative;
    width: 35vw; /* Largura do input */
}

input {
    color: #e8e8e8;
    font-weight: lighter;
    font-size: 3.5vh;
    height: 8vh;
    width: 100%;
    background: #303134;
    border-radius: 24px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 40px; /* Espaço para o ícone */
}

input:hover {
    background: #45484a;
}

input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); /* Alinha verticalmente o ícone */
    background: transparent;
    border: none;
    color: #e8e8e8;
    cursor: pointer;
    font-size: 1.5rem; /* Tamanho do ícone */
}

.search-icon:hover {
    color: #515357; /* Altera a cor ao passar o mouse */
}

.sites
{
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    gap: 1vw;
}

.sites a
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #303134;
    height: 11vh;
    width: 5vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: #e8e8e8;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sites a:hover
{
    transform: scale(1.05);
    text-decoration: underline;
}

.logo
{
    width: 50px; 
    height: 50px; 
}