html, body 
{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body 
{
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
}

header
{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
    z-index: 2;
}

header button
{
    background-color: var(--bg-color-main);
    border-color: transparent;
    border-radius: 35%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.lightMode
{
    height: 40px;
    width: 40px;
    transition: all 0.5s ease;
}

.lightMode:hover
{
    transform: scale(1.1);
    filter: invert(0.4);
}
.user
{
    display: flex;
    align-items: center;
    background-color: var(--bg-color-main);
    justify-content: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.5s ease;
}

.user img
{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.5s ease;
}

.user img:hover
{
    transform: scale(1.05);
}

.principal 
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 35vw;
    z-index: 2;
    transition: all 1s ease;
}

.input-container 
{
    color: var(--bg-color-secundary);
    position: relative;
    width: 35vw; 

}

input 
{
    color: var(--bg-color-secundary);
    font-weight: lighter;
    font-size: 3.5vh;
    height: 8vh;
    width: 100%;
    background: var(--bg-color-main);
    border-radius: 24px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 40px; 
    transition: all 0.3s ease;
}

input:hover
{
    transform: scale(1.01);
    filter: invert(0.15)
}

input:focus 
{
    outline: none;
}

input::-webkit-search-cancel-button,
input::-ms-clear,
input::-ms-reveal {
    display: none;
    appearance: none;
}

.search-icon 
{

    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); 
    background: transparent;
    border: none;
    color: var(--bg-color-secundary);
    cursor: pointer;
    font-size: 1.5rem;
}

.search-icon :hover
{
    transform: scale(1.1);
}

.sites
{
    color: var(--bg-color-secundary);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5vh;
    justify-content: center;
    gap: 1vw;
    z-index: 0;
}

.sites a
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-main);
    height: 11vh;
    width: 4.8vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: var(--bg-color-secundary);
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1vh;
    transition: all 0.5s ease;
}

.sites a:hover
{
    transform: scale(1.05);
    text-decoration: underline;
    filter: invert(0.1);
}

.sites a p
{
    margin: 0;
}

.logo
{
    width: 50px; 
    height: 50px; 
}

footer
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1%;
}

#hide-users
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10% 3.5%;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-main);
    border-color: transparent;
    border-radius: 35%;
    cursor: pointer;
    transition: all 0.5s ease;
}

#hide-users img
{
    transition: all 1s ease;
}

#hide-users img:hover
{
    filter: invert(0.4);
}

.hide-users__icon
{
    height: 80%;
    width: 80%;
    object-fit: cover;
    z-index: 3;
}

.footer-users
{
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 220px;
    height: auto;
    align-items: center;
    gap: 1vw;
    z-index: 3;
}

.footer-users button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 59px;
    border-radius: 100%;
    border-color: transparent;
    background-color: var(--bg-color-main);
    margin: 0%;
    padding: 0%;
    cursor: pointer;
    overflow: hidden;
    z-index: 3;
}

.footer-users img
{
    height: 87%;
    width: 87%;
    border-radius: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

footer img:hover
{
    transform: scale(1.05);
}
