@media only screen and (max-width: 768px)
{
    .principal
    {
        height: 10vh;
        width: 95vw;
    }

    .input-container
    {
        width: 100%;
    }

    .sites
    {
        height: 100%;
        width: 85%;
        flex-wrap: nowrap;
    }

    .sites a
    {
        width: 15%;
        height: 80%;
    }

    #pedroPrincipal
    {
        bottom: 5%;
    }

    #pedroSites
    {
        top:20%;
    }

    #pedroLink
    {
        height: 13vw;
        width: 13vw;
    }

    #cauaPrincipal
    {
        top: 25%;
    }
    #cauaLink
    {
        height: 13vw;
        width: 13vw;
    }

    #iunahPrincipal
    {
        bottom: 15%;
    }


    #dorgivalPrincipal
    {
        top: 20%;
    }

    #dorgivalSites
    {
        top: 80%;
    }

    #dorgivalLink
    {
        height: 16vw;
        width: 12vw;
    }
}