@media only screen and (max-width: 768px)
{
    .principal
    {
        height: 10vh;
        width: 90%;
    }

    .input-container
    {
        width: 100%;
    }

    .sites
    {
        height: 100%;
        width: 100%;
    }

    .sites a
    {
        width: 18%;
        max-width: 18%;
    }
}